body {
  font-family: 'M PLUS 1p', sans-serif;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
}

.footer {
  font-size: 0.8rem;
  padding: 0;
}

.error-list .notification {
   margin: 0.5rem 0;
}

.breadcrumb {
   margin: 0.5rem 0;
}

.pagination {
   margin: 0.75rem 0;
}
