#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
}
pre, code {
  font-family: 'Roboto Mono', monospace;
}

.footer {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.error-list .notification {
   margin: 0.5rem 0;
}

.breadcrumb {
   margin: 0.5rem 0;
}

.pagination {
   margin: 0.75rem 0;
}

.content pre,
.hljs {
  background-color: transparent;
}
.content .hljs-ln .hljs-ln-line {
  border-style: none;
  padding: 0 0.5rem;
}
.content .hljs-ln .hljs-ln-numbers {
  padding: 0;
  text-align: right;
}
.content .hljs-ln .hljs-ln-n {
  margin: 0;
  padding: 0;
  min-width: 1rem;
  max-width: 2.5rem;
}
.content .hljs-ln .hljs-ln-code {
   white-space: pre-wrap;
   word-break: break-all;
}
.content .codeblock {
  position: relative;
}
.content .codeblock .trigger-clipboard {
  position: absolute;
  top: 0;
  right: 0;
}
